@model FlashApp.Api.Models.ChatViewModel;
@using FlashApp.BLL.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Chat.css" rel="stylesheet" />

<div class="chat-container">
    @if (Model != null)
    {
        <div class="messages">
            @foreach (var message in Model.chat.messages.ToList())
            {
                <div class="message @((message.User_id == Model.currentUserId.ToString()) ? "sent" : "received")">
                    <div class="message-username">@Model.chat.users.First(u => u.Id == message.User_id).Username</div>
                    <div class="message-content">@message.Content</div>
                    <div class="message-time">@message.Creation_Time</div>
                </div>
            }
        </div>
    }

    <div class="message-input-panel">
        <div>
            <input type="text" class="message-input-text" name="messageText" placeholder="Type your message..." />
            <button class="message-send-button">Send</button>
        </div>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    function scrollToBottomSmoothly() {
        window.scroll({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    }

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatter").build();

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    document.querySelector(".message-send-button").addEventListener("click", function () {
        var messageText = document.querySelector(".message-input-text").value;

        connection.invoke("Send", '@Model.chat.Id', '@Model.currentUserId', messageText).catch(function (err) {
            return console.error(err.toString());
        });

        document.querySelector(".message-input-text").value = '';
    });

    connection.on("Receive", function (message, username) {

        var messageDiv = document.createElement("div");
        messageDiv.classList.add("message", message.user_id == '@Model.currentUserId.ToString()' ? "sent" : "received");

        var usernameDiv = document.createElement("div");
        usernameDiv.classList.add("message-username");
        usernameDiv.textContent = username;

        var contentDiv = document.createElement("div");
        contentDiv.classList.add("message-content");
        contentDiv.textContent = message.content;

        var timeDiv = document.createElement("div");
        timeDiv.classList.add("message-time");
        timeDiv.textContent = message.creation_Time;

        messageDiv.appendChild(usernameDiv);
        messageDiv.appendChild(contentDiv);
        messageDiv.appendChild(timeDiv);

        document.querySelector(".messages").appendChild(messageDiv);

        scrollToBottomSmoothly();
    });

    scrollToBottomSmoothly();
</script>